.custom-grid {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  height: 100%;
}

.btn-hover:hover {
  background-color: rgba(255, 255, 255, 0.8);
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .custom-grid {
    grid-template-columns: 1fr; /* Tumpuk kolom pada layar kecil */
  }
}
