body {
  overflow-x: hidden;
}

.btn-hover:hover {
  background-color: rgba(255, 255, 255, 0.8);
  transition: all 0.3s ease-in-out;
  transform: scale(1.1);
}

.form-container {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  animation: slideX 2s forwards;
}

@media (max-width: 768px) {
  body {
    overflow: auto;
  }

  .form-container {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    animation: slideY 2s forwards;
  }
}

@keyframes slideX {
  from {
    transform: translateX(250px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideY {
  from {
    transform: translateY(250px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
